.home {
  .headerName {
    width: 1400px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    & > div {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      .logo {
        font-size: 22px;
        color: #fff;
        float: left;
        margin-right: 40px;
      }
    }

  }

  .menuWater {
    .ant-menu-item-selected {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        background: rgba(0,0,0,0.2);
        z-index: 2;
        height: 5px;
        border-radius:5px;
      }
    }
  }
}
